In [1]:
from PyQt5.QtCore import *
import pandas as pd
from qgis.core import *
import os
import geopandas as gpd
import fiona

In [2]:
# Increase width of notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
# Create directories within selected folder
root = r"G:\.shortcut-targets-by-id\0B6-MI-dco6FLWkZmTDZ4MFhRU1k\SaltMUAS_share\EPA Salt Marsh UAS Study\Red River"
base = root + "\Polygons_RR14Aug2019"
XY_Points_Folder = base + "\XY_Points"
Polygon_Folder = base + "\Polygons"
if not os.path.exists(Polygon_Folder): os.makedirs(Polygon_Folder)

In [4]:
# Read in .cvs with Transects
df = pd.read_csv("G:\.shortcut-targets-by-id\\0B6-MI-dco6FLWkZmTDZ4MFhRU1k\SaltMUAS_share\EPA Salt Marsh UAS Study\Red River\Ground Truthing\\redriver14aug2019.csv")
# Delete top row with RTC data
datos = df.iloc[1:]
# Creating data frame
dato = pd.DataFrame(datos)

In [5]:
# Rename column headers
dato.columns = ['Transect', 'Point Number', 'Subclass', 'Northing', 'Easting', 'Altitude', 'Notes']

In [6]:
# Filter for null values where Transect == NaN
filter_dato = dato[dato['Transect'].isnull()]

In [7]:
forestFilter = filter_dato.iloc[0:23]

In [8]:
forestFilter

,Transect,Point Number,Subclass,Northing,Easting,Altitude,Notes
32,NaN,32,9,4613481.856,413543.116,0.574,"create polygon with points, forested, with fid..."
33,NaN,33,9,4613480.366,413535.939,0.652,"create polygon with points, forested, with fid..."
34,NaN,34,9,4613473.032,413525.117,0.685,"create polygon with points, forested, with fid..."
35,NaN,35,9,4613471.967,413520.871,0.624,"create polygon with points, forested, with fid..."
36,NaN,36,9,4613474.982,413517.602,0.641,"create polygon with points, forested, with fid..."
37,NaN,37,9,4613482.953,413515.235,0.701,"create polygon with points, forested, with fid..."
38,NaN,38,9,4613490.489,413512.568,0.785,"create polygon with points, forested, with fid..."
39,NaN,39,9,4613500.396,413508.613,0.714,"create polygon with points, forested, with fid..."
40,NaN,40,9,4613510.406,413510.798,0.740,"create polygon with points, forested, with fid..."
41,NaN,41,9,4613516.958,413516.194,0.732,"create polygon with points, forested, with fid..."
42,NaN,42,9,4613520.478,413519.856,0.660,"create polygon with points, forested, with fid..."
43,NaN,43,9,4613523.567,413526.323,0.695,"create polygon with points, forested, with fid..."
44,NaN,44,9,4613526.895,413534.731,0.632,"create polygon with points, forested, with fid..."
45,NaN,45,9,4613530.283,413543.808,0.692,"create polygon with points, forested, with fid..."
46,NaN,46,9,4613531.876,413548.722,0.619,"create polygon with points, forested, with fid..."
47,NaN,47,9,4613531.020,413553.495,0.656,"create polygon with points, forested, with fid..."
48,NaN,48,9,4613529.625,413556.870,0.666,"create polygon with points, forested, with fid..."
49,NaN,49,9,4613527.270,413559.859,0.681,"create polygon with points, forested, with fid..."
50,NaN,50,9,4613520.742,413563.865,0.658,"create polygon with points, forested, with fid..."
51,NaN,51,9,4613514.760,413564.806,0.669,"create polygon with points, forested, with fid..."
52,NaN,52,9,4613505.837,413565.030,0.636,"create polygon with points, forested, with fid..."
53,NaN,53,9,4613486.942,413549.671,0.648,"create polygon with points, forested, with fid..."
54,NaN,54,9,4613482.569,413544.558,0.665,"create polygon with points, forested, with fid..."

In [9]:
# Create QGIS XY Point Data into a List based on coordinates
point_list = [QgsPointXY(r['Easting'], r['Northing']) for i, r in forestFilter.iterrows() ]

In [10]:
point_list

[<QgsPointXY: POINT(413543.11600000003818423 4613481.85600000061094761)>,
 <QgsPointXY: POINT(413535.93900000001303852 4613480.36600000038743019)>,
 <QgsPointXY: POINT(413525.11700000002747402 4613473.03199999965727329)>,
 <QgsPointXY: POINT(413520.87100000004284084 4613471.96700000017881393)>,
 <QgsPointXY: POINT(413517.60200000001350418 4613474.98199999984353781)>,
 <QgsPointXY: POINT(413515.23499999998603016 4613482.95299999974668026)>,
 <QgsPointXY: POINT(413512.56799999997019768 4613490.48900000005960464)>,
 <QgsPointXY: POINT(413508.61299999995389953 4613500.39600000064820051)>,
 <QgsPointXY: POINT(413510.79799999995157123 4613510.40600000042468309)>,
 <QgsPointXY: POINT(413516.19399999995948747 4613516.95800000056624413)>,
 <QgsPointXY: POINT(413519.856000000028871 4613520.47800000011920929)>,
 <QgsPointXY: POINT(413526.32299999997485429 4613523.5669999998062849)>,
 <QgsPointXY: POINT(413534.731000000028871 4613526.89499999955296516)>,
 <QgsPointXY: POINT(413543.80799999996088445 4613530.28299999982118607)>,
 <QgsPointXY: POINT(413548.72200000000884756 4613531.87600000016391277)>,
 <QgsPointXY: POINT(413553.49499999999534339 4613531.01999999955296516)>,
 <QgsPointXY: POINT(413556.86999999999534339 4613529.625)>,
 <QgsPointXY: POINT(413559.85899999999674037 4613527.26999999955296516)>,
 <QgsPointXY: POINT(413563.86499999999068677 4613520.74199999962002039)>,
 <QgsPointXY: POINT(413564.80600000004051253 4613514.75999999977648258)>,
 <QgsPointXY: POINT(413565.03000000002793968 4613505.83700000029057264)>,
 <QgsPointXY: POINT(413549.67100000003119931 4613486.9419999998062849)>,
 <QgsPointXY: POINT(413544.55799999996088445 4613482.56900000013411045)>]

In [11]:
gPolygon = QgsGeometry.fromPolygonXY([point_list])

In [12]:
gPolygon

<QgsGeometry: Polygon ((413543.11600000003818423 4613481.85600000061094761, 413535.93900000001303852 4613480.36600000038743019, 413525.11700000002747402 4613473.03199999965727329, 413520.87100000004284084 4613471.96700000017881393, 413517.60200000001350418 4613474.98199999984353781, 413515.23499999998603016 4613482.95299999974668026, 413512.56799999997019768 4613490.48900000005960464, 413508.61299999995389953 4613500.39600000064820051, 413510.79799999995157123 4613510.40600000042468309, 413516.19399999995948747 4613516.95800000056624413, 413519.856000000028871 4613520.47800000011920929, 413526.32299999997485429 4613523.5669999998062849, 413534.731000000028871 4613526.89499999955296516, 413543.80799999996088445 4613530.28299999982118607, 413548.72200000000884756 4613531.87600000016391277, 413553.49499999999534339 4613531.01999999955296516, 413556.86999999999534339 4613529.625, 413559.85899999999674037 4613527.26999999955296516, 413563.86499999999068677 4613520.74199999962002039, 413564.80600000004051...>

In [13]:
# Write first polygon file
# Do this within QGIS's Python Console by copy pasting this cell


# Improt libraries

from PyQt5.QtCore import *
import pandas as pd
from qgis.core import *
import os
import geopandas as gpd
import fiona


# Create directories within selected folder
root = r"G:\.shortcut-targets-by-id\0B6-MI-dco6FLWkZmTDZ4MFhRU1k\SaltMUAS_share\EPA Salt Marsh UAS Study\Red River"
base = root + "\Polygons_RR14Aug2019"
XY_Points_Folder = base + "\XY_Points"
Polygon_Folder = base + "\Polygons"
if not os.path.exists(Polygon_Folder): os.makedirs(Polygon_Folder)
    
    
# Read in .cvs with Transects
df = pd.read_csv("G:\.shortcut-targets-by-id\\0B6-MI-dco6FLWkZmTDZ4MFhRU1k\SaltMUAS_share\EPA Salt Marsh UAS Study\Red River\Ground Truthing\\redriver14aug2019.csv")
# Delete top row with RTC data
datos = df.iloc[1:]
# Creating data frame
dato = pd.DataFrame(datos)

# Rename df
dato.columns = ['Transect', 'Point Number', 'Subclass', 'Northing', 'Easting', 'Altitude', 'Notes']
# Find null values
filter_dato = dato[dato['Transect'].isnull()]
# FIlter out values for desired polygon
forestFilter = filter_dato.iloc[0:23]
# Create Point List of Qgs Points
point_list = [QgsPointXY(r['Easting'], r['Northing']) for i, r in forestFilter.iterrows() ]

# Create Shapefile
layer =  QgsVectorLayer('Polygon', 'poly' , "memory")
pr = layer.dataProvider() 
poly = QgsFeature()
points = [point_list]
poly.setGeometry(QgsGeometry.fromPolygon([points]))
pr.addFeatures([poly])
layer.updateExtents()
QgsProject.instance().addMapLayers([layer])

# Set CRS of layer from layers pane
# Edit attributes
# Export as .shp

AttributeError: type object 'QgsGeometry' has no attribute 'fromPolygon'

In [14]:
filter_dato[23:-1]

,Transect,Point Number,Subclass,Northing,Easting,Altitude,Notes
73,NaN,73,01a,4613480.125,413598.132,0.331,"in channel, sandy substrate, dead mans fingers..."
74,NaN,74,01a,4613474.465,413595.738,0.406,"in channel, sandy substrate, dead mans fingers..."
75,NaN,75,01a,4613473.311,413596.422,0.377,"in channel, sandy substrate, dead mans fingers..."
76,NaN,76,01a,4613472.603,413594.714,0.390,"in channel, sandy substrate, dead mans fingers..."
77,NaN,77,01a,4613467.086,413593.432,0.336,"in channel, sandy substrate, dead mans fingers..."
78,NaN,78,01a,4613463.625,413593.322,0.322,"in channel, sandy substrate, dead mans fingers..."
79,NaN,79,01a,4613459.079,413594.657,0.211,"in channel, sandy substrate, dead mans fingers..."
80,NaN,80,01a,4613459.323,413597.274,0.218,"in channel, sandy substrate, dead mans fingers..."
81,NaN,81,01a,4613460.044,413599.000,0.167,"in channel, sandy substrate, dead mans fingers..."
82,NaN,82,01a,4613457.143,413602.951,-0.062,"in channel, sandy substrate, dead mans fingers..."
83,NaN,83,01a,4613479.605,413599.147,0.060,"in channel, sandy substrate, dead mans fingers..."